.banner {
    font-size: 30px;
  }
  
  .nav-bar {
    display: flex;
    list-style: none;
    padding: 20px;
    justify-content: flex-end;
    background-color: #59DC73;
  }
  
  .nav-link {
    padding: 20px;
  }
  