.banner {
    font-size: 30px;
  }
  
  .nav-bar {
    margin-top: 0;
    display: flex;
    list-style: none;
    padding: 20px;
    justify-content: flex-end;
    background: radial-gradient(ellipse at top, ivory, transparent),
            radial-gradient(ellipse at bottom, #004C54, transparent);
  }
  
  .nav-link {
    padding: 20px;
    color: yellow;
    a {
      color: yellow;
    }
    &:hover, &:focus, a:hover {
      color: red;
      cursor: pointer;
    }
  }
  